@page
@model Minigram.IdentityProvider.Pages.Account.PasswordResetModel
@{
    ViewData["Title"] = "PasswordReset";
    Layout = "_Layout";
}

<main class="container vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 p-4 mdl-card mdl-shadow--8dp card-round">
            @if (!Model.ResetSuccessful && Model.OnlyPasswordError)
            {
                <h3>Jelszó visszaállítás</h3>
                <form method="post" class="w-100">
                    <input type="hidden" asp-for="Username" />
                    <input type="hidden" asp-for="Token" />

                    <div class="row">
                        <div class="col-12">
                            <label class="pure-material-textfield-outlined w-100">
                                <input type="password" placeholder=" " asp-for="Password" />
                                <span>Jelszó</span>
                            </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label class="pure-material-textfield-outlined w-100">
                                <input type="password" placeholder=" " asp-for="ConfirmPassword" />
                                <span>Jelszó megerősítése</span>
                            </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-end mt-3">
                            <button class="poppins mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Visszaállítás</button>
                        </div>
                    </div>
                </form>
            }
            else if (!Model.ResetSuccessful && !Model.OnlyPasswordError)
            {
                <div class="w-100 d-flex align-items-center flex-grow-1">
                    <span class="material-icons-outlined action-result-icon">
                        close
                    </span>
                    <div class="d-flex flex-column ml-4">
                        <h3>Sikertelen jelszó visszaállítás!</h3>
                        <p>Valami probléma van a linkeddel. Lehet hogy a linked lejárt, vagy helytelenül másoltad ki.</p>
                        <form action="@Url.Page("/Account/GetPasswordReset")" method="get">
                            <button class="poppins mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">Új link igénylése</button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="w-100 d-flex align-items-center flex-grow-1">
                    <span class="material-icons-outlined action-result-icon">
                        lock_open
                    </span>
                    <div class="d-flex flex-column ml-4">
                        <h3>Sikeres jelszó visszaállítás!</h3>
                        <p>Sikeresen megváltoztattad a jelszavad! Mostantól az újonnan megadott jelszavaddal léphetsz be.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

