@page
@model Minigram.IdentityProvider.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Jelszóváltoztatás";
    Layout = "_Layout";
}

<main class="container vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 p-4 nb-card">
            @if (!Model.ChangeSuccessful)
            {
                <h3>Jelszó visszaállítás</h3>
                <form method="post" class="w-100">
                    <input type="hidden" asp-for="ReturnUrl"/>

                    <div class="row">
                        <div class="col-12">
                            <label asp-for="OldPassword">Jelenlegi jelszó</label><br>
                            <input class="nb-textbox w-100" type="password" placeholder="Az jelenleg használt jelszavad" asp-for="OldPassword" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label asp-for="Password">Új jelszó</label><br>
                            <input class="nb-textbox w-100" type="password" placeholder="Az újonnan beállítandó jelszavad" asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label asp-for="ConfirmPassword">Jelszó megerősítése</label><br>
                            <input class="nb-textbox w-100" type="password" placeholder="Az újonnan beállítandó jelszavad még egszer" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-end mt-3">
                            <button name="action" value="cancel" class="button-ghost">Vissza</button>
                            <button name="action" value="change" class="button-full">Jelszóváltoztatás</button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="w-100 d-flex align-items-center flex-grow-1">
                    <span class="material-icons-outlined action-result-icon">
                        check
                    </span>
                    <div class="d-flex flex-column ml-4">
                        <h3>Sikeres jelszó változtatás!</h3>
                        <p>Mostantól az új jelszavaddal tudsz bejelentkezni a fiókodba.</p>
                        <form method="post" class="w-100">
                            <input type="hidden" asp-for="ReturnUrl"/>

                            <div class="d-flex justify-content-end">
                                <button name="action" value="finish" class="button-full">Befejezés</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

