<nb-card>
  <nb-card-header>
    <h2>Új barát felvétele</h2>
  </nb-card-header>
  <nb-card-body>
    <input nbInput [formControl]="formControl" type="text" autocomplete="off" placeholder="Keresett név" [nbAutocomplete]="autocomplete">
    <nb-autocomplete #autocomplete [handleDisplayFn]="displayFn">
      <nb-option *ngFor="let recipient of recipients$ | async" [value]="recipient">
        {{ recipient.userName }}
      </nb-option>
    </nb-autocomplete>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="danger" (click)="cancel()">
      <nb-icon icon="close-outline"></nb-icon>
      Mégse
    </button>
    <button nbButton hero status="primary" (click)="send()">
      <nb-icon icon="paper-plane-outline"></nb-icon>
      Küldés
    </button>
  </nb-card-footer>
</nb-card>
