<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/styles/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Pages/CSS/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
</head>
<body>
    <div class="position-absolute ml-4 mt-4 d-flex czeum-logo-container align-items-center">
        <span class="material-icons-outlined czeum-icon">
            computer
        </span>
        <div class="d-flex flex-column logo-text">
            <h1>Awesome Computer Shop</h1>
            <p>Online számítógép alkatrész áruház</p>
        </div>
    </div>
    @RenderBody()
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
